* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix {
    display: table;
    content: "";
    clear: both;
}


.d_flex {
    display: flex;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/* _____________________________________________________
                            DEBUG 
________________________________________________________*/

.debug nav {
    background-color: black;
}

.debug .p_content {
    background-color: #141922;
    height: calc(100vh - 15vh);
}

.debug .footer {
    background-color: #282828;
}

.debug header {
    background-color: #080B12;
}
/* ___________________________________________________
                            /DEBUG
______________________________________________________ */



/* ***************************************************
                            UTILITY
****************************************************** */
nav, .p_content, .footer {
    float: left;
}

a {
    text-decoration: none;
    color: #5B5B5B;
}

h3.first {
    color: white;
}
/* ***************************************************
                            /UTILITY
****************************************************** */



/* ***************************************************
                            NAV
****************************************************** */
nav {
    width: 250px;
    height: calc(100vh - 15vh);
    background-color: black;
    color: white;
}

.up_contain {
    width: 100%;
    padding: 10px;
}

.up_contain .logo {
    width: 80%;
    padding: 10px 0;
}

.home_options {
    padding: 1rem 0;
}

.card.d_flex {
    justify-content: flex-start;
    align-items: center;
}
/* ***************************************************
                            /NAV
****************************************************** */



/* ***************************************************
                            PRINCIPAL SITE CONTENT
****************************************************** */
.p_content {
    width: calc(100vw - 250px);
}

.p_content header {
    width: calc(100vw - 250px);
    height: 8vh;
}
/* ***************************************************
                            /PRINCIPAL SITE CONTENT
****************************************************** */



/* ***************************************************
                            SONG'S MENU
****************************************************** */
.footer {
    width: 100vw;
    height: 15vh;
}
/* ***************************************************
                            /SONG'S MENU
****************************************************** */