* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix {
    display: table;
    content: "";
    clear: both;
}


.d_flex {
    display: flex;
}

/* _____________________________________________________
                            DEBUG 
________________________________________________________*/

.debug nav {
    background-color: black;
}

.debug .p_content {
    background-color: #141922;
}

.debug footer {

}
/* ___________________________________________________
                            /DEBUG
______________________________________________________ */

/* ***************************************************
                            NAV
****************************************************** */
nav {
    width: 10vw;
    height: 100vh;
}
/* ***************************************************
                            /NAV
****************************************************** */


.p_content {
    width: calc(100vw - 10vw);
    height: 100vh;
}